name: Publish Docker image
on:
  push:
    tags:
      - 'docker-v*.*.*'
jobs:
  push_to_registry:
    name: Push Docker image to GitHub Packages
    runs-on: ubuntu-latest
    steps:
      -
        name: Check out the repo
        uses: actions/checkout@v6
      -
        name: Docker meta
        id: docker_meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/yoshinorin/docker-buzzard
      -
        name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      -
        name: Push to GitHub Packages
        uses: docker/build-push-action@v6
        with:
          context:  .
          file: ./docker/Dockerfile
          push: true
          tags: ${{ steps.docker_meta.outputs.tags }}
